@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: #fcfcfc;
    scroll-behavior: smooth;
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }
}
